---
---

@import "{{ site.theme }}";

.wrapper{
  width: 860px;
}

section{
  width: 500px;
}

a {
  color:#674EA7;
  text-decoration:none;
}

a:hover, a:focus {
  color:#D1C9E4;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border: none;
}

.portfolio_item {
  width: 150px;
  height: 200px;
  margin:0px;
  position: relative;
  padding: 5px;
  float:left;
}

.portfolio_image {
  opacity: 1;
  display: inline-block;
  border-radius: 10px;
  object-fit: cover;
  object-position: 50% 0%;
  width: 150px;
  height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.portfolio_hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.portfolio_item:hover .portfolio_image {
  opacity: .3;
}

.portfolio_item:hover .portfolio_hover {
  opacity: 1;
}

.portfolio_desc {
  background-color: #fcf6fe;
  color: #605564;
  padding: 16px 32px;
  border-radius: 5px;
  font-weight: bolder;
  text-align: center;
  font-size: 8px;
}

@media print, screen and (max-width: 960px) {

  .portfolio_item {
  width: 225px;
}

.portfolio_image {
  object-position: 50% 50%;
  width: 225px;
}
  
}


@media print, screen and (max-width: 720px) {

  .portfolio_item {
  width: 225px;
}

.portfolio_image {
  object-position: 50% 50%;
  width: 225px;
}
  
}

@media print, screen and (max-width: 480px) { 

  .portfolio_item {
  width: 275px;
}

.portfolio_image {
  object-position: 50% 50%;
  width: 275px;
}

}
